body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.menu-img {
  object-fit: cover;
  object-position: center center;
}

menu-item {
  max-height: 250px;
}

.preview-item-cone {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}